<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <style>
        :root {
             color-scheme: light dark;
        }
        body {
            font-family: sans-serif;
            margin: 2em;
            line-height: 1.6;
            background: light-dark(#eee, #333);
            color: light-dark(#333, #eee);
        }
    </style>
</head>
<body>
    {{ content }}
</body>
</html>